<!DOCTYPE html>
<html>
  <head>
    <title>Your Video Report Card</title>
    <link type="text/css" rel="stylesheet" href="/assets/main.css">
  </head>
  <body>
    <div id="banner-container">
      <div id="banner"></div>
      <h1>Please Stand By</h1>
      <form>
        <input type="text" name="url" placeholder="Website">
      </form>
    </div>

    <script type="text/javascript" src="/assets/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="/assets/main.js"></script>
  </body>
</html>
