/* rgb(250, 255, 189) */

body {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

#banner-container {
    height: 100vh;
}

#text, #text > * {
    position:relative;
}

#text {
    top: 50px;
}

h1#title {
    color: white;
    font-size: 50px;
    font-weight:800;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
}

form {
    position: relative;
    text-align: center;
}

form input {
    background-color: white;
    color: black;
    border: 0;
    border-bottom: 2px solid #4a4a4a;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    border-radius: 3px;
}

#banner {
    background-color: #75d277;
    /*  filter: blur(15px) grayscale(50%); */
    /* opacity: 0.3; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    transform: translateZ(0px);
}

#results {
    display: none;
    padding-bottom:150%;
}

#spinner {
    display:none;
    margin:0 auto;
    height:150px;
    padding-top:40px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight:100;
}
